/ FIXME: remove mess with ids
%section#profile
  .row
    %aside.span10.main
      = render 'profile'
      %section.block#wall
        - if @record
          %header
            .title
              Want to add something
            .add
            .remove.hide
            .gradient
          .form.hide    
            = render 'records/form'
        - else
          %header
            .title
              Records
            .gradient
        .content
          .records
            = render 'records/profile_feed'  
    %aside.span6
      = render 'about'
      = render 'shared/discussions'
      = render 'layouts/footer'
