.record
  .avatar
    = link_to image_tag('avatar.png'), record.user
  .second
    %header
      .name
        = link_to record.user.username, record.user
      .date
        = time_ago_in_words(record.created_at) 
        ago
    .middle
      .title
        / REVIEW: why span ?
        %span
          / TODO: Has to be link to book has_one book example “Mark Twain” 1967
          = record.name
      .description
        = wrap record.content
    %footer
      .stars
        - (1..record.stars).each do |i|
          .star
      = link_to '', class: 'like two' do
        .field
          21
      .discussions
        - record.discussions.each do |discussion|
          = link_to discussion, class: "item #{discussion.comments.count > 10 ? 'two' : 'one'}" do
            .field
              = discussion.comments.count
        = link_to '', '#new-discussion', class: 'new', 'data-toggle' => 'modal', 'data-id' => record.id
      .social
        = link_to 'Twitter', '#', class: 'twitter'
        = link_to 'Facebook', '#', class: 'facebook'
      .about