%section#wall
  .row
    %aside.span10.main
      %section.first.block#wall
        %header
          .title
            Want to add something
          .add
          .remove.hide
          .gradient
        .form
          %form
            .name
              %input.input-full(placeholder='Type a name' type='text')
            .description
              %textarea.input-full(placeholder='Some words about ...')
            %footer
              .stars
                .star.full
                .star
                .star
                .star
                .star
              .social
                .twitter
                  %input(type='checkbox' id='twitter-share')
                .facebook
                  %input(type='checkbox' id='facebook-share')
              %input.btn-primary.pull-right.btn(type='submit' value='SUBMIT')
              .counter
                300
        .content
          .records
            - (0..2).each do |i|
              .record
                .avatar
                  = link_to image_tag('avatar.png'), '#'
                .second
                  %header
                    .name
                      = link_to 'ButuzGOL', '#'
                    .date
                      July 20th 2011
                  .middle
                    .title
                      %span
                        Adwenture of Tom Sawyer
                      “Mark Twain” 1967
                    .description
                      It was a good book I very like it so you have to read this one. Read it in a few days so it very
                      good and now its time to end.
                  %footer
                    .stars
                      .star
                      .star
                      .star
                    = link_to '', class: 'like two' do
                      .field
                        21
                    .discussions
                      = link_to '', class: 'item two' do
                        .field
                          88
                      .new
                    .social
                      = link_to 'Twitter', '#', class: 'twitter'
                      = link_to 'Facebook', '#', class: 'facebook'
                    .about
    %aside.span6
      = render 'shared/profile'
      = render 'shared/discussions'
      = render 'layouts/footer'