%footer.block#footer
  .clearfix
    = link_to "Bummer", root_path, class: "brand"
    .social
      = link_to "Twitter", "#", class: "twitter"
      = link_to "Facebook", "#", class: "facebook"
  .by
    © #{Time.now.year} by ButuzGOL & Crespo
  .links
    %ul
      %li
        = link_to "About", "#"
      %li
        = link_to "Help", "#"
      %li
        = link_to "Terms", "#"
      %li
        = link_to "Privacy", "#"
      %li
        = link_to "Blog", "#"
      %li
        = link_to "Contacts", "#"