%header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container{ class: "#{divide_site_class}"}
        = link_to 'Bummer', root_path, class: 'brand'
        .nav-collapse
          - if user_signed_in?
            %ul.nav.top-nav.main
              %li.home
                = link_to 'Home', root_path
                .hover
              %li.profile
                = link_to 'Profile', '#'
                .hover
              %li.message
                = link_to 'Messages', '#'
                .hover
                .count
                  2
            %ul.nav.pull-right.top-nav
              %li.search
                .wrapper
                  = link_to 'Search', '#', id: 'search-submit'
                  .hover
                .input
                  %form.navbar-search
                    %input.search-query.span3(placeholder='Search' type='text' style='width: 0; display: none;')
              %li.setting
                = link_to 'Settings', '#'
                .hover
              %li.sign-out
                = link_to 'Sign out', destroy_user_session_path, method: :delete
                .hover
          - else
            %ul.nav.pull-right.top-nav
              %li.with-text.sign-in
                = link_to 'Sign in', '#'
                .hover
          
